spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
jwt:
  secret:
    key: sueChaviSecreteaSuperSeguriQueDevuSurLongoEComplexaAgoraVemDoProperties

mercadopago:
  access_token: ${MERCADOPAGO_ACESS_TOKEN}
